@import 'mobile_variables'

/* === START from normalize-v3.0.0.css === */
html
  color gray-8
  font-family fontFamily
  
body
  margin 0
  background gray-3
  vendor user-select none
  
/* h5 elements */
header, footer, main, menu, nav, section, article, aside
  display block

canvas
  display inline-block

[hidden], template, [v-cloak]/*vue v-cloak*/
  display none

a
  background transparent
  text-decoration none //app
  &:active, &:hover
    outline 0

small
  font-size 80%

img
  border 0
  max-width 100% /*替换元素必备*/

/* form elements */
button, input, select, textarea
  color inherit
  font inherit
  margin 0

button
  overflow visible

button, select
  text-decoration none

button, input[type=button], input[type=reset], input[type=submit]
  vendor appearance button
  cursor pointer

button[disabled], html input[disabled]
  cursor default

input
  line-height normal
  &[type=radio], &[type=checkbox], &[type=number], &[type=tel]
    box-sizing border-box
    padding 0
    vendor appearance none
    outline none//app 取消点击蓝色边框

textarea
  overflow auto
  resize none//app 禁止调整大小

/* table */
table
  border-collapse collapse
  border-spacing 0

th, td
  padding 0

/* === END from normalize.css === */

/* === START mobile app === */
a, img, button, input, select, textarea, div
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

/* uniform style */
a
  color inherit
  
b, em, strong, h1, h2, h3, h4, h5, h6
  font-weight normal

em
  font-style normal

h1, h2, h3, h4, h5, h6, p, ul, ol
  margin 0

ul, ol, input[type=button] //input[type=button] ios
  padding 0

ul li
  list-style none
  box-sizing content-box
  
[type=button]
  border none
  outline none

button[type=button][disabled],input[type=button][disabled] .disabled
  background gray-5 !important
  opacity 1 //ios .4  

//usual class or units
.fr
  float right

.gray
  font-size font-12
  color gray-7

.line-through
  text-decoration line-through
  color gray-7

//from bootstrap v4.0.0
.clearfix:after
    content ""
    display table
    clear both
/* === END mobile app === */