/*---variables START---*/
fontFamily = "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Heiti SC", Arial, sans-serif
/*** 同 variables_m.less ***/
//font base 20px  设计图字号
font-12 = 12px //  7
font-13 = 13px //  6
font-14 = 14px //  5
font-15 = 15px //  4
font-16 = 16px //  3
font-17 = 17px //  2
font-18 = 18px //  1

gray-1 = #fff //底色
gray-2 = #fcfcfc //TAP背景色
gray-3 = #f8f8f8 //背景色
gray-4 = #e7e7e7 //间隔线
gray-5 = #c7c7cc //灰色图标
gray-6 = #929292 //灰色标注 TAP文字
gray-7 = #868f9a //正文 灰色文字
gray-8 = #515f68 //正文 黑二级文字
gray-9 = #36363c //正文 大标题文字

blue-1 = #6d99ff //渐变色1
blue-2 = #3c76e9 //渐变色2
blue-3 = #3c76e9 //logo
blue-6 = #7ab9ff //蓝色辅助色

yellow-4 = #ffb227 //黄渐变色1
yellow-5 = #f90 //黄渐变色2
yellow-11 = #ffeea8 //提示浅黄色底

green-7 = #54d1bc
green-9 = #42ae2d

red-8 = #ff8a7b
red-10 = #f24848

//其它尺寸
gap-6 = 6px
gap-8 = 8px
gap-12 = 12px
gap-16 = 16px
gap-24 = 24px
gap-40 = 40px
btn-height = 44px
/*** 以上变量同 variables_m.less ***/

mask-bg = rgba(0, 0, 0, .6)
/*---variables END---*/

/*---function START---*/
vendor(prop, args...)
  -webkit-{prop} args
  {prop} args

font-size(args)
  font-size args
  line-height 1 unless @line-height
/*---function END---*/

.align-center
  text-align center
  > div,&:after
    display inline-block
    vertical-align middle
  &:after
    width 0
    height 100%
    content ''
 
 /* mobile 1px */   
.border-top-1px
  position relative @unless @position
  &:before
    content ''
    position absolute
    top 0 @unless @top
    left 0 @unless @left
    right 0 @unless @right
    border-top 1px solid gray-4
    vendor transform scaleY(.5)
    vendor transform-origin 0 0

.border-bottom-1px
  position relative @unless @position
  &:after
    content ''
    position absolute
    bottom 0 @unless @bottom
    left 0 @unless @left
    right 0 @unless @right
    border-bottom 1px solid gray-4
    vendor transform scaleY(.5)
    vendor transform-origin 0 0

.border-left-1px
  position relative @unless @position
  &:before
    content ''
    position absolute
    left 0 @unless @left
    top 0 @unless @top
    bottom 0 @unless @bottom
    border-left 1px solid gray-4
    vendor transform scaleX(.5)
    vendor transform-origin 0 0

.border-right-1px
  position relative @unless @position
  &:after
    content ''
    position absolute
    right 0 @unless @right
    top 0 @unless @top
    bottom 0 @unless @bottom
    border-right 1px solid gray-4
    vendor transform scaleX(.5)
    vendor transform-origin 0 0    
